<%- include('partials/header.ejs', {user}) %>

<h1 class="header, display-1">RecipeBook</h1>
<div class = "right container">
    <div class="center">
        <img src="/imgs/salt.jpg" class="cover">
    
    </div>
    <figure class="center">
        <blockquote class="blockquote">
          <p class="quote">"A recipe has no soul. You as the cook must bring soul to the recipe"</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Thomas Kellar
        </figcaption>
      </figure>

</div>

<%- include('partials/footer.ejs') %>