<%- include('partials/header.ejs', {user}) %>

<h1 class="header, display-3">About RecipeBook</h1>

<div class="block">
    <p class="about">RecipeBook is a hub to find your next recipe to try! This application allows users to post their recipes as well as browse through other users' recipes. RecipeBook also retrieves nutritional data from the FoodData Central API and includes information on the ingredients used in each recipe.</p>
</div>
<div class="block">

    <h3 class="header, display-5">Inspiration</h3>
</div>

<div class="block">
    <figure class="center">
        <blockquote class="blockquote">
          <p class="about">Ordering takeout or eating at a restaurant is becoming increasingly more expensive. In Seattle, Washington, I rarely find myself spending less than $15-20 on a meal, not including the gas and time it takes to get to the restaurant. Grocery shopping and cooking at home could potentially cut the cost per meal by over $10 while at the same time giving me a better understanding of what I'm putting in my body. But for someone like me with very little cooking experience, I'm always hesitant to get started even though I am interested. This application will hopefully give users like me inspiration to find good recipes to start cooking!</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Paul Kim <cite title="Source Title">RecipeBook Creator</cite>
        </figcaption>
      </figure>
</div>


<%- include('partials/footer.ejs') %>