<%- include('../partials/header',{user}) %>

<h1>Create a new post</h1>

<form action="/recipes" method="POST">
    

    <label for="recipe_author">Username:</label>
    <input type="text" id="recipe_author" name="username" value= "<%= user.username %>" required>
    <input hidden type="number" name="userId" value= "<%=user.id %>" required>

    <label for="recipe_name">Recipe Name:</label>
    <input type="text" id="recipe_name" name="recipe_name" required>
    
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required>

    <label for="cook_time">Cook Time:</label>
    <input type="text" id="cook_time" name="cook_time" required>

    <label for="servings">Servings:</label>
    <input type="number" id="servings" name="servings" required>

    <div>
        <ul>

        </ul>
    </div>
    <input id = 'ingred' type = "text" placeholder = "ingredient" name="ingredient">
    <input id = 'quant' type = "text" placeholder = "quantity" name="quantity">
    <button id = "save" class="btn btn-success">Save ingredient</button>
    <input id = 'ingredient_list' hidden type="text" name="ingredient_list">

    <label for="instructions">Instructions:</label>
    <input type="text" id="instructions" name="instructions" required>
    

    <input type="submit">
</form>

<script>
    let ingred = document.getElementById('ingred')  
    let quant = document.getElementById('quant')  

    let ingredList = ''
    let quantList = ''
    let ingredarray = []
    let quantarray = []
    let ingredient_list = document.getElementById('ingredient_list')
    document.getElementById('save').addEventListener('click', function(e) {
      e.preventDefault()
      ingredList = ingredList + ingred.value + ','
      quantList = quantList + quant.value + ','
      ingred.value = ''
      quant.value = ''
      ingredarray = ingredList.split(',')
      quantarray = quantList.split(',')
      
      ingredient_list.value = ingredList
    })
    
    
</script>
    
<%- include('../partials/footer') %>