<%- include('../partials/header',{user}) %>

<h1>Create a new post</h1>

<form action="/recipes" method="POST">
    

    <label for="recipe_author">Username:</label>
    <input type="text" id="recipe_author" name="username" value= "<%= user.username %>" required>
    <input hidden type="number" name="userId" value= "<%=user.id %>" required>

    <label for="recipe_name">Recipe Name:</label>
    <input type="text" id="recipe_name" name="recipe_name" required>
    
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required>

    <label for="cook_time">Cook Time:</label>
    <input type="text" id="cook_time" name="cook_time" required>

    <label for="servings">Servings:</label>
    <input type="number" id="servings" name="servings" required>

    <div>
        <ul id="showingred">

        </ul>
    </div>
    <input id = 'ingred' type = "text" placeholder = "ingredient" name="ingredient">
    <input id = 'quant' type = "text" placeholder = "quantity" name="quantity">
    <button id = "save">Save ingredient</button>
    <input id = 'ingredient_list' hidden type="text" name="ingredient_list">
    <input id = 'quantities' hidden type="text" name="quantities">

    <label for="instructions">Instructions:</label>
    <input type="text" id="instructions" name="instructions" required>
    

    <button type="submit">Post</button>
</form>

<script>

    let ingred = document.getElementById('ingred')  
    let quant = document.getElementById('quant')  
    let showingred = document.getElementById('showingred')
    let deletebutton = document.querySelectorAll('.deleteBtn')
    let ingredList = ''
    let quantList = ''
    let ingredarray = []
    let quantarray = []
    let ingredient_list = document.getElementById('ingredient_list')
    let quantities = document.getElementById('quantities')

    document.getElementById('save').addEventListener('click', function(e) {
      e.preventDefault()
      if(ingred.value != '' && quant.value != ''){
        ingredList = ingredList + ingred.value + ','
        quantList = quantList + quant.value + ','
        ingredarray = ingredList.split(',')
        quantarray = quantList.split(',')
        

        let li = document.createElement('li')
        let deleteBtn = document.createElement('button')
        deleteBtn.innerText = 'Delete'
        deleteBtn.setAttribute('class', 'deleteBtn')
        
        
        li.innerText = quantarray[quantarray.length-2]+ ' ' + ingredarray[ingredarray.length-2]
        li.appendChild(deleteBtn)
        showingred.appendChild(li)

        deleteBtn.onclick = function(e){
            e.preventDefault()
            let pn = e.target.parentNode
            let index = 0
            while(pn.previousElementSibling){
                pn = pn.previousElementSibling;
                index ++
            }
            console.log(index)
            ingredarray.splice(index, 1)
            quantarray.splice(index, 1)
            ingredList = ingredarray.join()
            quantList = quantarray.join()
            
            e.target.parentNode.remove()
        }
        ingred.value = ''
        quant.value = ''
      }
      
      ingredient_list.value = ingredList.substring(0, ingredList.length-1)
      quantities.value = quantList.substring(0,quantList.length-1)
    })


    
   
    

    
    
    
</script>
    
<%- include('../partials/footer') %>